/* index */
body{
    margin: 0px;
    padding: 0px;
}

/* App.jsx */
.mainContainer{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "nav nav"
    "ham main";
}

.mainContainer .ham{
    grid-area: ham;
}

.mainContainer .homeMainFeed{
    grid-area: main;
}

.mainContainer .navSearch{
    grid-area: nav;
}






/* Home.jsx */
.cards {
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 24% 24% 24%;
    gap: 10px;
}
.card{
    background-color: darkgreen;
}
.item{
    list-style: none;
    
}
.homeMainFeed{
    background-color: lightgreen;
}








/* Ham.jsx */

.ham{
    height: 100vh;
    width: 100%;
    background-color: grey;
}
.ham img {
    height: 5vh;
    width: auto;
}
.ham li{
    list-style: none;
}







/* Nav.jsx */
.navSearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: lightblue;
}